<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
 <title>Home Page</title>
 </head>
 <body>
 <h1>Product Backlog: Food Sharing is caring</h1>
	 <p>1. Story: As a user who likes to share recipes that I tried , I want to be able to share recipes on social media platforms like Instagram and Pinterest, with easy-to-use sharing buttons integrated into the blog.</p>
	 <p>2. Story: As someone who has allergies, I want to be able to search for recipes based on ingredients, dietary restrictions, and meal type so that I can find inspiration for what to cook.</p>
	 <p>3. Story: As a user, I want to be able to leave comments on the recipe page to ask questions, provide feedback, or share my own experience making the dish.</p>
	 <p>4. Story: As someone who is learning to cook , I want to be able to see a step-by-step instructions and cooking tips, so that I can replicate the recipe at home.</p>



 </body>
</html>